pydantic # for data validation
pydantic_settings # for settings management
pydantic[email] # for email validation
colorama # for colored output
InquirerPy # for interactive CLI
psycopg2 # for PostgreSQL